

.Loading {
    width: var(--loading-size);
    height: var(--loading-size);
    margin: 10px auto;
    position: relative;
}

.Loading div {
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: var(--loading-size);
    height: var(--loading-size);
    border: calc(var(--loading-size) / 6) solid var(--primary-color);
    border-radius: 50%;
    animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    border-color: var(--primary-color) transparent transparent transparent;
}

.Loading div:nth-child(1) {
    animation-delay: -0.45s;
}

.Loading div:nth-child(2) {
    animation-delay: -0.3s;
}

.Loading div:nth-child(3) {
    animation-delay: -0.15s;
}

@keyframes lds-ring {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}