.sort-holder {
    text-align: right;
    
}

.sort-drop-button {
    margin: 10px 10px 0 10px;
}

.sort-drop-holder {
    border-radius: var(--border-radius-default);
    background-color: var(--shade-background);
    padding: 5px;
}

.sort-drop-holder > button {
    display: block;
    width: 100%;
    margin: 5px 0;
}