.CryptoItem {
    margin: 10px auto;
    padding: 20px;
    border-radius: var(--border-radius-default);
    background-color: white;
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
    max-width: 468px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.CryptoItem__icon {
    width: 64px;
    height: 64px;
    border-radius: 64px;
    overflow: hidden;
    border: solid 3px var(--base-background);
}
.CryptoItem__icon > img {
    width: 100%;
    height: 100%;
}


.CryptoItem__name {
    margin-left: 10px;
    font-weight: 600;
}
.CryptoItem__price {
    margin-left: auto;
}