.Header {
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    right: 0;
    height: 60px;
    background-color: var(--primary-color);
}

.Header > .header__holder {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-height: auto;
    height: 100%;
}