:root {
  --primary-color: #1552F0;
  --accent-color: #F7931A;
  --bid-color: #4FBF67;
  --ask-color: #FF5630;
  --base-background: #F7F9FC;
  --shade-background: #FAFBFC;
  --shade-foreground: #9CA8BA;
  --base-foreground: #262E4A;
  --loading-size: 36px;
  --border-radius-default: 6px;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--base-background);
  color: var(--base-foreground);
}

button {
  background-color: var(--primary-color);
  color: white;
  padding: 10px;
  outline: none;
  border: none;
  border-radius: var(--border-radius-default);
}

.relative {
  position: relative;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.justify-center {
  justify-content: center;
}

.w-full {
  width: 100%;
}

.absolute {
  position: absolute;
}

.right-0 {
  right: 0;
}

.transition {
  transition-property: all;
}

.ease-out {
  transition-timing-function: ease-out;
}

.ease-in {
  transition-timing-function: ease-in;
}


.duration-100 {
  transition-duration: 100ms;
}
.duration-200 {
  transition-duration: 200ms;
}
.duration-300 {
  transition-duration: 300ms;
}

.opacity-0 {
  opacity: 0;
}
.opacity-100 {
  opacity: 1;
}
.scale-95 {
  transform: scale(0.95);
}
.scale-100 {
  transform: scale(1);
}

.fixed {
  position: fixed;
  left: 0; top: 0; right: 0; bottom: 0;
}
.z-10 {
  z-index: 10;
}
.overflow-y-scroll {
  overflow-y: scroll;
}
.min-h-screen {
  min-height: 100vh;
}
.h-screen {
  height: 100vh;
}
.align-middle {
  vertical-align: middle;
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.3);
}
.modal-container {
  position: absolute;
  z-index: 11;
  border-radius: var(--border-radius-default);
  background-color: var(--base-background);
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.6);
  padding: 10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.text-right {
  text-align: right;
}
input {
  padding: 10px;
  background-color: var(--shade-background);
  border: solid 1px var(--shade-foreground);
  color: var(--base-foreground);
  margin: 5px auto;
  border-radius: var(--border-radius-default);
}
input:focus {
  outline: solid 1px var(--accent-color);
}

.ask-button {
  background-color: var(--ask-color);
}
.bid-button {
  background-color: var(--bid-color);
}