.bidask-holder {
    text-align: right;
    
}

.bidask-drop-button {
    margin: 10px 10px 0 10px;
}

.bidask-drop-holder {
    border-radius: var(--border-radius-default);
    background-color: var(--shade-background);
    padding: 5px;
}

.bidask-drop-holder > button {
    display: block;
    width: 100%;
    margin: 5px 0;
}

.bidask-drop-holder > button.bid-button {
    background-color: var(--bid-color);
}

.bidask-drop-holder > button.ask-button {
    background-color: var(--ask-color);
}